Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/)

test
  pkg/csi/cinder/nodeserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

add support for openstack api metrics
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_instances.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/metrics/metrics.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Add initial support for dual-stack services
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[cinder-csi-plugin] Remove downstream from probe
  pkg/csi/cinder/identityserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  tests/sanity/cinder/fakecloud.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Add comments and docs
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

test
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[cinder-csi-plugin] Remove downstream from probe (#1904)
  pkg/csi/cinder/identityserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  tests/sanity/cinder/fakecloud.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[cinder-csi-plugin] Remove downstream from probe (#1904) (#1906)
  pkg/csi/cinder/identityserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  tests/sanity/cinder/fakecloud.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[ci] Pin k3s to v1.23.6+k3s1
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

[ci] Pin k3s to v1.23.6+k3s1 (#1907)
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

Refactor csi-cinder to improve code climate
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_test.go
  pkg/csi/cinder/server.go
  pkg/csi/cinder/utils.go
  tests/sanity/cinder/fakecloud.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Fix backoff settings
  pkg/csi/manila/csiclient/builder.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Refactor csi-manile to improve code climate
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/csiclient/builder.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/share.go
  pkg/csi/manila/snapshot.go
  pkg/csi/manila/util.go
  pkg/csi/manila/validator/valueexpr.go
  pkg/csi/manila/volumesource.go
  tests/e2e/csi/manila/manilavolume.go
  tests/e2e/csi/manila/testsuite.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Update manila tests
  tests/ci-csi-manila-e2e.sh
  tests/e2e/csi/manila/testsuite.go
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-csi-manila-e2e-test

chore: Set permissions for GitHub actions
  .github/workflows/pr.yaml
  .github/workflows/release-cpo.yaml
  .github/workflows/release.yaml
Due: none

Refactor csi-cinder to improve code climate (#1886)
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_test.go
  pkg/csi/cinder/server.go
  pkg/csi/cinder/utils.go
  tests/sanity/cinder/fakecloud.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

POC PKCS8
  pkg/ingress/controller/controller.go
Due: none

[cinder-csi-plugin] improve log readability
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

formatting fix with gofmt
  pkg/ingress/controller/controller.go
Due: none

[cinder-csi-plugin] improve log readability (#1810)
  pkg/csi/cinder/controllerserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Remove workaround
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: none

occm: Fix LoadBalancer deletion when the underlying LoadBalancer does not exist
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Due: none

occm: Fix LoadBalancer deletion when the underlying LoadBalancer does not exist (#1913)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

OpenSSL PEM generates PKCS #8 keys (#1911)
  pkg/ingress/controller/controller.go
Due: none

OpenSSL PEM generates PKCS #8 keys (#1911) (#1915)
  pkg/ingress/controller/controller.go
Due: none

OpenSSL PEM generates PKCS #8 keys (#1911) (#1916)
  pkg/ingress/controller/controller.go
Due: none

test
  pkg/util/util.go
Due: none

[manila-csi-plugin] Refactor csi-manila to improve code climate (#1887)
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/csiclient/builder.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/share.go
  pkg/csi/manila/snapshot.go
  pkg/csi/manila/util.go
  pkg/csi/manila/validator/valueexpr.go
  pkg/csi/manila/volumesource.go
  tests/ci-csi-manila-e2e.sh
  tests/e2e/csi/manila/manilavolume.go
  tests/e2e/csi/manila/testsuite.go
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

[ci] Pin k3s to v1.23.6+k3s1 (#1907) (#1920)
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

[ci] Pin k3s to v1.23.6+k3s1 (#1907) (#1921)
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

Enable default golangci-lint + revive
  .golangci-check.yaml
  Makefile
Due: none

occm: Fix LoadBalancer deletion when the underlying LoadBalancer does not exist (#1913) (#1917)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test
