Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

openstack-cloud-controller-manager-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-cinder-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-manila-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-cinder-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211014-7ca1952a94-master
      command:
      - make
      args:
      - test-cinder-csi-sanity

openstack-cloud-csi-manila-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211014-7ca1952a94-master
      command:
      - make
      args:
      - test-manila-csi-sanity

Ingress: Fix listener timeout updates
  pkg/ingress/controller/openstack/octavia.go
Due: none

Remove depending on `PULL_NUMBER` in e2e (#2516)
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/defaults/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

[occm] Improve route controller reconciling to ensure the cluster's connectivity
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/openstack.go
  pkg/openstack/routes.go
Due: openstack-cloud-controller-manager-e2e-test

Add support to only run selected CSI services of the manila CSI driver
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/driver.go
  tests/sanity/manila/sanity_test.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Add support to only run selected CSI services of the cinder CSI driver
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/utils.go
  pkg/csi/manila/driver.go
  tests/sanity/cinder/sanity_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Clean up source files to successfully complete linting
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  tests/sanity/cinder/sanity_test.go
  tests/sanity/manila/sanity_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

update k8s deps to 1.29.1
  go.mod
  go.sum
Due: none

update k8s deps to 1.29.1 (#2521)
  go.mod
  go.sum
Due: none

Update versions for 1.29
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  hack/bump-release.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  release-procedure.md
  tests/playbooks/roles/install-k3s/defaults/main.yaml
Due: none

Update versions for 1.29 (#2522)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  hack/bump-release.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  release-procedure.md
  tests/playbooks/roles/install-k3s/defaults/main.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Update description of the `nodeid` command line parameter
  cmd/manila-csi-plugin/main.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

fix: add missing labels to resources otherwise upgrades fail with `resource already exists, add missing labels`
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding-sm.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/secret.yaml
  charts/openstack-cloud-controller-manager/templates/service-sm.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/templates/servicemonitor.yaml
Due: none

chore: bump version
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

Update documentation for the CSI service parameters
  cmd/cinder-csi-plugin/main.go
  cmd/manila-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/manila-csi-plugin/using-manila-csi-plugin.md
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

CI: Fetch DevStack and k3s logs
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/fetch-logs.yaml
  tests/playbooks/roles/fetch-logs/README.md
  tests/playbooks/roles/fetch-logs/defaults/main.yaml
  tests/playbooks/roles/fetch-logs/tasks/main.yaml
Due: none

Use k3s with containerd
  tests/playbooks/roles/install-docker-registry/tasks/main.yml
  tests/playbooks/roles/install-docker-registry/templates/ca-config.json.j2
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

Use k3s with containerd (#2529)
  tests/playbooks/roles/install-docker-registry/tasks/main.yml
  tests/playbooks/roles/install-docker-registry/templates/ca-config.json.j2
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

CI: Fetch DevStack and k3s logs (#2527)
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/fetch-logs.yaml
  tests/playbooks/roles/fetch-logs/README.md
  tests/playbooks/roles/fetch-logs/defaults/main.yaml
  tests/playbooks/roles/fetch-logs/tasks/main.yaml
Due: none

Ingress: Fix listener timeout updates (#2518)
  pkg/ingress/controller/openstack/octavia.go
Due: none

detach volume if its attached when deleting volume
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

add instance id
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Add support to only run selected CSI services (#2316)
  cmd/cinder-csi-plugin/main.go
  cmd/manila-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/utils.go
  pkg/csi/manila/driver.go
  tests/sanity/cinder/sanity_test.go
  tests/sanity/manila/sanity_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

cinder-csi-plugin: Remove handling for glog
  cmd/cinder-csi-plugin/main.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

barbican-kms-plugin: Remove unnecessary klog flag calls
  cmd/barbican-kms-plugin/main.go
Due: none

client-keystone-auth: Remove handling for glog
  cmd/client-keystone-auth/main.go
Due: none

manila-csi-plugin: Remove handling for glog
  cmd/manila-csi-plugin/main.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

k8s-keystone-auth: Remove handling for glog
  cmd/k8s-keystone-auth/main.go
Due: none

cinder-csi: Add basic support for an `encrypted` storage class parameter
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  tests/sanity/cinder/fakecloud.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Pass KeyId to EncryptResponse
  pkg/kms/server/server.go
Due: none

Delete LB that gone into ERROR state
  pkg/openstack/loadbalancer.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Lookup ports by SG and not tags (#2355)
  go.mod
  go.sum
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Add ability to add Events by OCCM
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Lookup ports by SG and not tags (#2355) (#2538)
  go.mod
  go.sum
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Add ability to add Events by OCCM (#2539)
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

cinder-csi: Adds support for managing backups (#2473)
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/fake.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_backups.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  tests/sanity/cinder/fakecloud.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Delete LB that gone into ERROR state (#2536)
  pkg/openstack/loadbalancer.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Make sure we don't mask LB tests failures and fix what was failing (#2360)
  pkg/openstack/loadbalancer.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test

DNM: Testing CI
  Makefile
Due: none

[ci] Bump golangci-lint for go 1.22
  Makefile
Due: none

Path conditions:
  openstack-cloud-controller-manager-e2e-test: any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/)
