Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

openstack-cloud-controller-manager-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-cinder-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-manila-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-cinder-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211014-7ca1952a94-master
      command:
      - make
      args:
      - test-cinder-csi-sanity

openstack-cloud-csi-manila-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211014-7ca1952a94-master
      command:
      - make
      args:
      - test-manila-csi-sanity

Remove spurious whitespace in OCCM values file (#2347)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

cinder-csi-plugin Helm Chart: add metrics and Prometheus Operator support.
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-podmonitor.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

Update gophercloud to v1.6.0
  go.mod
  go.sum
Due: none

Lookup ports by SG and not tags
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Set node selector and tolerations by default in OCCM helm chart
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Fix grammar and typos in OCCM helm values
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

cinder-csi-plugin Helm Chart: add metrics and Prometheus Operator support. (#2354)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-podmonitor.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

[occm] Set node selector and tolerations by default in OCCM helm chart (#2346)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

build occm always in e2e test (#2351)
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
Due: none

[occm] Lookup ports by SG and not tags (#2355)
  go.mod
  go.sum
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Delete LB that gone into ERROR state (#2341)
  pkg/openstack/loadbalancer.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Support get OS instance ID from instance metadata
  pkg/openstack/instancesv2.go
Due: openstack-cloud-controller-manager-e2e-test

Enable ovn-octavia in CI
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/test-occm-e2e.yaml
Due: none

Enable ovn-octavia in CI (#2307)
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/test-occm-e2e.yaml
Due: none

client-keystone-auth: Remove duplicate pflag.Parse call
  cmd/client-keystone-auth/main.go
Due: none

k8s-keystone-auth: Remove duplicate pflag.Parse call
  cmd/k8s-keystone-auth/main.go
Due: none

manila-csi-plugin: Remove handling for glog
  cmd/manila-csi-plugin/main.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

barbican-kms-plugin: Remove unnecessary klog flag calls
  cmd/barbican-kms-plugin/main.go
Due: none

cinder-csi-plugin: Remove handling for glog
  cmd/cinder-csi-plugin/main.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

client-keystone-auth: Remove handling for glog
  cmd/client-keystone-auth/main.go
Due: none

k8s-keystone-auth: Remove handling for glog
  cmd/k8s-keystone-auth/main.go
Due: none

[cinder-csi-plugin] Add comment about deprecation
  pkg/csi/cinder/nodeserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[cinder-csi-plugin] Add comment about deprecation (#2361)
  pkg/csi/cinder/nodeserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Compare proper LB name for shared LBs
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Make sure we don't mask LB tests failures
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test

Fix shared LBs tests
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test

Remove debug logs
  pkg/ingress/controller/controller.go
Due: none

Update cloud team in OWNERS
  OWNERS_ALIASES
Due: none

Add missing else
  pkg/ingress/controller/openstack/neutron.go
Due: none

Log format
  pkg/ingress/controller/controller.go
Due: none

[occm] Make sure we don't mask LB tests failures and fix what was failing (#2360)
  pkg/openstack/loadbalancer.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: openstack-cloud-controller-manager-e2e-test

Create fonctions to attach/detach fips to port
  pkg/ingress/controller/openstack/neutron.go
Due: none

Fix bug when no fip provided in annotation the lb was created in private mode and improve openstack neutron fip logic
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/neutron.go
Due: none

[occm] Add octavia listener xForwardedProto option
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Updating csi-driver-manila images to be consistent with ART Reconciling with https://github.com/openshift/ocp-build-data/tree/da6a5af1fa96762cc8410f09fc28c0457280f59a/images/csi-driver-manila.yml
  .ci-operator.yaml
  images/manila-csi-plugin/Dockerfile
Due: none

e2e: Add options to configure Octavia provider
  tests/ci-occm-e2e.sh
  tests/e2e/cloudprovider/test-lb-service.sh
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: openstack-cloud-controller-manager-e2e-test

[occm] fix daemonset annotations (#2237)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
Due: none

Path conditions:
  openstack-cloud-controller-manager-e2e-test: any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/)
