Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

openstack-cloud-controller-manager-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-cinder-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-manila-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-cinder-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211014-7ca1952a94-master
      command:
      - make
      args:
      - test-cinder-csi-sanity

openstack-cloud-csi-manila-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211014-7ca1952a94-master
      command:
      - make
      args:
      - test-manila-csi-sanity

Update values.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

custom secret file for cloud.conf
  charts/openstack-cloud-controller-manager/templates/secret.yaml
Due: none

TEST
  pkg/csi/cinder/driver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

mention Helm value for disabling topology feature
  docs/cinder-csi-plugin/features.md
Due: none

fix gate issue
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/healthcheck/plugin_endpoint.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/manila/runtimeconfig/runtimeconfig.go
  pkg/csi/manila/validator/validator.go
  pkg/identity/keystone/sync.go
  pkg/identity/keystone/token_getter.go
  pkg/identity/keystone/token_getter_test.go
  pkg/ingress/controller/controller.go
  pkg/kms/barbican/barbican.go
  pkg/openstack/instances.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack_test.go
  pkg/util/blockdevice/blockdevice_linux.go
  pkg/util/errors/errors.go
  pkg/util/metadata/metadata.go
  pkg/util/mount/mount.go
  tests/sanity/cinder/fakemount.go
  tests/sanity/cinder/sanity_test.go
  tests/sanity/manila/sanity_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

fix gate issue (#1959)
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/healthcheck/plugin_endpoint.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/manila/runtimeconfig/runtimeconfig.go
  pkg/csi/manila/validator/validator.go
  pkg/identity/keystone/sync.go
  pkg/identity/keystone/token_getter.go
  pkg/identity/keystone/token_getter_test.go
  pkg/ingress/controller/controller.go
  pkg/kms/barbican/barbican.go
  pkg/openstack/instances.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack_test.go
  pkg/util/blockdevice/blockdevice_linux.go
  pkg/util/errors/errors.go
  pkg/util/metadata/metadata.go
  pkg/util/mount/mount.go
  tests/sanity/cinder/fakemount.go
  tests/sanity/cinder/sanity_test.go
  tests/sanity/manila/sanity_test.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

mention Helm value for disabling topology feature (#1958)
  docs/cinder-csi-plugin/features.md
Due: none

[manila-csi-plugin] Fix constraints configuration for application cred
  pkg/client/client.go
Due: none

[manila-csi-plugin] Fix constraints configuration for application cred (#1957)
  pkg/client/client.go
Due: none

Add quotes to values in cloudConfig
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
Due: none

custom secret file for cloud.conf (#1953)
  charts/openstack-cloud-controller-manager/templates/secret.yaml
Due: none

Add quotes to values in cloudConfig (#1960)
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
Due: none

[occm] Option to configure member-subnet-id for Load Balancer
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

Add region to providerID magic string.
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/ingress/utils/utils.go
  pkg/openstack/instances.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: openstack-cloud-controller-manager-e2e-test

Add region to providerID magic string. (#1909)
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/ingress/utils/utils.go
  pkg/openstack/instances.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: openstack-cloud-controller-manager-e2e-test

Use healthz Endpoint in HTTP Monitor
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Fix Naming of listener, pools and monitors during Creation
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Introduce Hostname Annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Ensure namespaced objects have namespace set
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/secret.yaml
  charts/openstack-cloud-controller-manager/templates/service-sm.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/templates/servicemonitor.yaml
Due: none

fix: Add region to providerID magic string
  pkg/ingress/utils/utils.go
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test

Fix Naming of listener, pools and monitors during Creation (#1966)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Ensure namespaced objects have namespace set (#1969)
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/secret.yaml
  charts/openstack-cloud-controller-manager/templates/service-sm.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/templates/servicemonitor.yaml
Due: none

Add security rule for the HealthCheckNodePort
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

fix: Add region to providerID magic string (#1970)
  pkg/ingress/utils/utils.go
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Option to configure member-subnet-id for Load Balancer (#1963)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

Use healthz Endpoint in HTTP Monitor (#1964)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Bump gophercloud to v1.0.0
  go.mod
  go.sum
Due: none

[occm] Introduce Hostname Annotation (#1968)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Bump gophercloud to v1.0.0 (#1974)
  go.mod
  go.sum
Due: none

Fix minor Inconsistency in `getMemberSubnetID`
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] network-id and subnet-id in class settings
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

tests: bump golang version to 1.19 in install-golang role
  tests/playbooks/roles/install-golang/defaults/main.yml
Due: none

cinder-csi-plugin: Use os-volume_attachments API to poll detach (#1645)
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

tests: bump golang version to 1.19 in install-golang role (#1981)
  tests/playbooks/roles/install-golang/defaults/main.yml
Due: none

Revert "tests: bump golang version to 1.19 in install-golang role (#1981)"
  tests/playbooks/roles/install-golang/defaults/main.yml
Due: none

Revert "tests: bump golang version to 1.19 in install-golang role (#1981)" (#1982)
  tests/playbooks/roles/install-golang/defaults/main.yml
Due: none

Path conditions:
  openstack-cloud-controller-manager-e2e-test: any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/)
