Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/)

avoid unnecessary memory allocation with more logs
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Fix pagination parsing
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

fix gate
  tests/playbooks/roles/install-docker/defaults/main.yml
  tests/playbooks/roles/install-docker/tasks/main.yml
Due: none

fix gate (#2311)
  tests/playbooks/roles/install-docker/defaults/main.yml
  tests/playbooks/roles/install-docker/tasks/main.yml
Due: none

fix gate (#2313)
  tests/playbooks/roles/install-docker/defaults/main.yml
  tests/playbooks/roles/install-docker/tasks/main.yml
Due: none

Apply PR https://github.com/kubernetes/cloud-provider-openstack/pull/2054
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/controller/controller.go
Due: none

[release-1.26] [cinder-csi-plugin]: fix pagination, avoid unnecessary memory allocation, add more logs (#2309)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[release-1.27] [cinder-csi-plugin]: fix pagination, avoid unnecessary memory allocation, add more logs (#2310)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Get IP addresses of neutron subports
  pkg/openstack/instances.go
  pkg/openstack/instancesv2.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: openstack-cloud-controller-manager-e2e-test

Get IP addresses of neutron subports (#2306)
  pkg/openstack/instances.go
  pkg/openstack/instancesv2.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: openstack-cloud-controller-manager-e2e-test

fix gate (#2312)
  tests/playbooks/roles/install-docker/defaults/main.yml
  tests/playbooks/roles/install-docker/tasks/main.yml
Due: none

Updating and vendoring go modules after an upstream merge
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/trunk_details/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/trunk_details/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/trunks/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/trunks/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/trunks/results.go
  vendor/github.com/gophercloud/gophercloud/openstack/networking/v2/extensions/trunks/urls.go
  vendor/modules.txt
Due: none

Support LB providers that can't create fully-populated LBs
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/ingress/config/config.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/util/openstack/loadbalancer_serial.go
  pkg/util/util.go
Due: openstack-cloud-controller-manager-e2e-test

Add imagePullSecret support
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Add dulek and kayrus as approvers
  OWNERS
  README.md
Due: none

Fix protocol case mismatch (tcp vs TCP)
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test

Refactor FIP network detection
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Fix protocol case mismatch (tcp vs TCP) (#2320)
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test

Add dulek and kayrus as approvers (#2318)
  OWNERS
  README.md
Due: none

Manila: Add support for imagePullSecrets to helm chart
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/values.yaml
Due: none

Add '--version' flag to binaries
  cmd/barbican-kms-plugin/main.go
  cmd/cinder-csi-plugin/main.go
  cmd/client-keystone-auth/main.go
  cmd/k8s-keystone-auth/main.go
  cmd/manila-csi-plugin/main.go
  pkg/autohealing/cmd/root.go
  pkg/ingress/cmd/root.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Support LB providers that can't create fully-populated LBs (#2314)
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/ingress/config/config.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/util/openstack/loadbalancer_serial.go
  pkg/util/util.go
Due: openstack-cloud-controller-manager-e2e-test

Add '--version' flag to binaries (#2324)
  cmd/barbican-kms-plugin/main.go
  cmd/cinder-csi-plugin/main.go
  cmd/client-keystone-auth/main.go
  cmd/k8s-keystone-auth/main.go
  cmd/manila-csi-plugin/main.go
  pkg/autohealing/cmd/root.go
  pkg/ingress/cmd/root.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

add support for openstack api metrics (#2077)
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_instances.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/metrics/metrics.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Add imagePullSecret support (#2317)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Apply PR https://github.com/kubernetes/cloud-provider-openstack/pull/2054 (#2279)
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/controller/controller.go
Due: none

Manila: Add support for imagePullSecrets to helm chart (#2323)
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/values.yaml
Due: none

Add dulek and kayrus as approvers (#2329)
  OWNERS
  README.md
Due: none

Add dulek and kayrus as approvers (#2318) (#2330)
  OWNERS
  README.md
Due: none
