Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

openstack-cloud-controller-manager-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-cinder-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-manila-e2e-test:
  labels:
    preset-service-account: 'true'
    preset-bazel-scratch-dir: 'true'
    preset-bazel-remote-cache-enabled: 'true'
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  optional: false
  decorate: true
  spec:
    containers:
  ...

openstack-cloud-csi-cinder-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211014-7ca1952a94-master
      command:
      - make
      args:
      - test-cinder-csi-sanity

openstack-cloud-csi-manila-sanity-test:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/kubekins-e2e:v20211014-7ca1952a94-master
      command:
      - make
      args:
      - test-manila-csi-sanity

fix(occm): use newer chart version
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

[CINDER-CSI] shrink image, remove unnecessary utils (#2233)
  Dockerfile
  tools/csi-deps-check.sh
  tools/csi-deps.sh
Due: none

support wildcard in the host field
  .gitignore
  pkg/ingress/controller/controller.go
Due: none

fix too lax regex
  .gitignore
  pkg/ingress/controller/controller.go
Due: none

[CINDER-CSI] shrink image, remove unnecessary utils (#2233) (#2238)
  Dockerfile
  tools/csi-deps-check.sh
  tools/csi-deps.sh
Due: none

Make `ensureSecurityRule()` safely idempotent
  pkg/openstack/loadbalancer.go
  pkg/util/errors/errors.go
Due: openstack-cloud-controller-manager-e2e-test

Make `ensureSecurityRule()` safely idempotent (#2249)
  pkg/openstack/loadbalancer.go
  pkg/util/errors/errors.go
Due: openstack-cloud-controller-manager-e2e-test

Set git version variable during the build
  Makefile
Due: none

Set git version variable during the build (#2252)
  Makefile
Due: none

LoadBalancers: Remove dead SG code
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

LoadBalancers: Remove dead SG code (#2248)
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

Replace call to Nova os-interfaces with direct Neutron call
  pkg/openstack/instances.go
  pkg/openstack/instancesv2.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack_test.go
Due: openstack-cloud-controller-manager-e2e-test

[occm]: fix blackhole route atomic delete logic
  pkg/openstack/routes.go
Due: openstack-cloud-controller-manager-e2e-test

[occm]: fix blackhole route atomic delete logic (#2259)
  pkg/openstack/routes.go
Due: openstack-cloud-controller-manager-e2e-test

[occm]: fix blackhole route atomic delete logic (#2260)
  pkg/openstack/routes.go
Due: openstack-cloud-controller-manager-e2e-test

[occm]: fix blackhole route atomic delete logic (#2257)
  pkg/openstack/routes.go
Due: openstack-cloud-controller-manager-e2e-test

[occm]: fix blackhole route atomic delete logic (#2258)
  pkg/openstack/routes.go
Due: openstack-cloud-controller-manager-e2e-test

Bump csi-resizer to v1.8.0
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/values.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
Due: none

Fix CSI spec versions
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/driver.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/identityserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Fix docker image tag in manila e2e tests
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: none

Fix CSI spec versions (#2254)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/values.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/values.yaml
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  pkg/csi/cinder/driver.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/identityserver.go
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Update index.yaml
  index.yaml
Due: none

Implement automatic topology awareness for Manila share provisioning
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  examples/manila-csi-plugin/nfs/auto-topology-aware/pod.yaml
  examples/manila-csi-plugin/nfs/auto-topology-aware/pvc.yaml
  examples/manila-csi-plugin/nfs/auto-topology-aware/storageclass.yaml
  examples/manila-csi-plugin/nfs/topology-aware/storageclass.yaml
  pkg/csi/cinder/controllerserver.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/options/shareoptions.go
  pkg/util/util.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Implement automatic topology awareness for Manila share provisioning (#2255)
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  examples/manila-csi-plugin/nfs/auto-topology-aware/pod.yaml
  examples/manila-csi-plugin/nfs/auto-topology-aware/pvc.yaml
  examples/manila-csi-plugin/nfs/auto-topology-aware/storageclass.yaml
  examples/manila-csi-plugin/nfs/topology-aware/storageclass.yaml
  pkg/csi/cinder/controllerserver.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/options/shareoptions.go
  pkg/util/util.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Implement automatic topology awareness for Manila share provisioning (#2263)
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  examples/manila-csi-plugin/nfs/auto-topology-aware/pod.yaml
  examples/manila-csi-plugin/nfs/auto-topology-aware/pvc.yaml
  examples/manila-csi-plugin/nfs/auto-topology-aware/storageclass.yaml
  examples/manila-csi-plugin/nfs/topology-aware/storageclass.yaml
  pkg/csi/cinder/controllerserver.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/options/shareoptions.go
  pkg/util/util.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Implement automatic topology awareness for Manila share provisioning (#2261)
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  examples/manila-csi-plugin/nfs/auto-topology-aware/pod.yaml
  examples/manila-csi-plugin/nfs/auto-topology-aware/pvc.yaml
  examples/manila-csi-plugin/nfs/auto-topology-aware/storageclass.yaml
  examples/manila-csi-plugin/nfs/topology-aware/storageclass.yaml
  pkg/csi/cinder/controllerserver.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/options/shareoptions.go
  pkg/util/util.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

fix(occm): remove trailing spaces
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

[occm] add secret enabled option (#2239)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/secret.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

feat(cinder-csi): enable secret injection and common annotations
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/templates/secret.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

fix(cinder-csi): default secret value hostMount
  charts/cinder-csi-plugin/values.yaml
Due: none

fix(cinder-csi): pod annotations
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
Due: none

Update to gophercloud 1.4.0
  go.mod
  go.sum
Due: none

Path conditions:
  openstack-cloud-controller-manager-e2e-test: any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/)
