Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/)

fix issue and update md file
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Implement imagePullSecret support for master branch
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Support `extraEnv` on the cloud-controller-manager helm chart
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Support `extraEnv` on the cloud-controller-manager helm chart (#2462)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Add ability to add Events by OCCM
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

Add ability to add Events by OCCM (#2383)
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

manage-security-groups: Only add SGs to LB members (#2455)
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/util/openstack/network.go
Due: openstack-cloud-controller-manager-e2e-test

manage-security-groups: Only add SGs to LB members (#2455) (#2466)
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/util/openstack/network.go
Due: openstack-cloud-controller-manager-e2e-test

client-keystone-auth: Remove duplicate pflag.Parse call
  cmd/client-keystone-auth/main.go
Due: none

k8s-keystone-auth: Remove duplicate pflag.Parse call
  cmd/k8s-keystone-auth/main.go
Due: none

[octavia-ingress-controller] Update listener timeouts
  pkg/ingress/controller/openstack/octavia.go
Due: none

[release-1.28] Remove duplicate pflag.Parse calls (#2467)
  cmd/client-keystone-auth/main.go
  cmd/k8s-keystone-auth/main.go
Due: none

fix: octavia tlsContainerRef validation for barbican secrets (#2458)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

test buildlistenercreateopt
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test

test buildlistenercreateopt (#2463)
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test

Add Test Case for Protocol Forced to HTTP in buildListenerCreateOpt
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test

Implement imagePullSecret support for master branch (#2446)
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Update examples.md
  docs/cinder-csi-plugin/examples.md
Due: none

Add Test Case for Protocol Forced to HTTP in buildListenerCreateOpt (#2470)
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test

Implement imagePullSecret support for release 1.28
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Add instructions on how to build dev environment
  docs/developers-guide.md
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/defaults/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

Implement imagePullSecret support for release 1.28 (#2445)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Update doc link to more suitable place
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
Due: none

fix: octavia tlsContainerRef validation for barbican secrets (#2459)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

fix: octavia tlsContainerRef validation for barbican secrets (#2460)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Update doc link to more suitable place (#2474)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
Due: none

[occm] feat : add custom tags to load balancer and other resources using service annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: openstack-cloud-controller-manager-e2e-test

Fix typos
  tests/playbooks/roles/install-docker/tasks/main.yml
Due: none

update doc to include --http-endpoint
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

update doc to include --http-endpoint (#2476)
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

update doc to be a better link with examples
  docs/cinder-csi-plugin/features.md
Due: none

[occm] update doc to fix typos and better description `router-id`
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

charts/cinder-csi-plugin: added dnsPolicy value for nodeplugin
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

fix misspellings in comments
  pkg/identity/keystone/keystone.go
Due: none

bump chart version
  charts/cinder-csi-plugin/Chart.yaml
Due: none

[occm] update doc to fix typos and better description `router-id` (#2479)
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

update doc to be a better link with examples (#2477)
  docs/cinder-csi-plugin/features.md
Due: none
