Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/)

Remove darwin/amd64 from OS arch support
  Makefile
Due: none

[helm charts] Make the chart versions consistent with release-1.23 (#1745)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

Remove darwin/amd64 from OS arch support (#1746)
  Makefile
Due: none

shiftstack: Update OWNERS
  OWNERS_ALIASES
Due: none

Add UT for create volumes with volume type and az (#1742)
  pkg/csi/cinder/controllerserver_test.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

Update contributing email.
  charts/cinder-csi-plugin/README.md
Due: none

Updated CLOUD_CONFIG
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

Updated CLOUD_CONFIG in helm chart.
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

update members when recreating healthcheck
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

define healthCheckNodePort when updating octavia
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

define healthCheckNodePort when updating octavia (#1750)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Fix monitor name
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Fix the service account name
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

Remove .zuul.yaml
  .zuul.yaml
Due: none

[occm] Fix monitor name (#1754)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Remove .zuul.yaml (#1756)
  .zuul.yaml
Due: none

TEST
  pkg/csi/cinder/server.go
  pkg/ingress/controller/controller.go
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

possible to disable shared-lb feature
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

enable patcher only if shared lb is in use
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

[occm] Fix the service account name (#1755)
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

update lb monitoring params via annotations
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

playbook: deploy snapshot CRDs and controller in install-csi-manila role
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: none

define healthCheckNodePort when updating octavia (#1757)
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

e2e: implement {PreprovisionedPV,Ephemeral}TestDriver for manila-csi
  tests/e2e/csi/manila/manilavolume.go
  tests/e2e/csi/manila/testdriver.go
  tests/e2e/csi/manila/testsuite.go
Due: openstack-cloud-csi-manila-e2e-test

bytesToGiB now round up to GiB-aligned values
  pkg/csi/manila/util.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

ControllerExpandVolume rounds up values to GiB
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/share.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test

Fix the service account name
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

Fix the service account name (#1767)
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

add missing metric
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test

[manila-csi-plugin] more e2e tests (#1762)
  tests/e2e/csi/manila/manilavolume.go
  tests/e2e/csi/manila/testdriver.go
  tests/e2e/csi/manila/testsuite.go
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: openstack-cloud-csi-manila-e2e-test

Update loadbalancer.go
  pkg/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

Updated CLOUD_CONFIG in helm chart. (#1747)
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

magnum-auto-healer: use Cinder v3
  pkg/autohealing/cloudprovider/register/register.go
Due: none

[manila-csi-plugin] ControllerExpandVolume rounds up size to GiB (#1765)
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/share.go
  pkg/csi/manila/util.go
Due: openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-manila-sanity-test
