Repository kubernetes/cloud-provider-openstack: changes, and which Prow jobs are due for each by the changed paths.
All: openstack-cloud-controller-manager-e2e-test, openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-manila-e2e-test, openstack-cloud-csi-cinder-sanity-test, openstack-cloud-csi-manila-sanity-test

Path conditions:
  openstack-cloud-controller-manager-e2e-test: any of: ^(pkg\/openstack\/|cmd\/openstack-cloud-controller-manager\/|tests\/e2e\/cloudprovider\/)
  openstack-cloud-csi-cinder-e2e-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/e2e\/csi\/cinder\/)
  openstack-cloud-csi-manila-e2e-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/e2e\/csi\/manila\/)
  openstack-cloud-csi-cinder-sanity-test: any of: ^(pkg\/csi\/cinder\/|cmd\/cinder-csi-plugin\/|tests\/sanity\/cinder\/)
  openstack-cloud-csi-manila-sanity-test: any of: ^(pkg\/csi\/manila\/|cmd\/manila-csi-plugin\/|tests\/sanity\/manila\/)

add missing metric (#1768)
  pkg/openstack/instances.go
Due: openstack-cloud-controller-manager-e2e-test

Updating csi-driver-manila images to be consistent with ART Reconciling with https://github.com/openshift/ocp-build-data/tree/0059e470a61eba28225165168b22d9e77c33c926/images/csi-driver-manila.yml
  images/manila-csi-plugin/Dockerfile
Due: none

magnum-auto-healer: use Cinder v3 (#1769)
  pkg/autohealing/cloudprovider/register/register.go
Due: none

[docs] fix broken navigation links
  docs/cinder-csi-plugin/features.md
  docs/developers-guide.md
  docs/metrics.md
Due: none

Add ability to disable Service controller
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

update lb monitoring params via annotations (#1761)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
Due: openstack-cloud-controller-manager-e2e-test

magnum-auto-healer: use Cinder v3 (#1769)
  pkg/autohealing/cloudprovider/register/register.go
  pkg/util/blockdevice/blockdevice_unsupported.go
Due: none

magnum-auto-healer: use Cinder v3 (#1769) (#1773)
  pkg/autohealing/cloudprovider/register/register.go
Due: none

[docs] fix broken navigation links (#1771)
  docs/cinder-csi-plugin/features.md
  docs/developers-guide.md
  docs/metrics.md
Due: none

[cinder-csi-plugin] Deprecate CSI Inline ephemeral Volumes support
  docs/cinder-csi-plugin/features.md
  pkg/csi/cinder/nodeserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

[occm] Helm Chart Improvements
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

[cinder-csi-plugin] Remove redundant imagePullPolicy
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
Due: none

[occm] The service monitor svc should select the pods of the occm DS
  charts/openstack-cloud-controller-manager/templates/service-sm.yaml
Due: none

Ran ./hack/update-gofmt.sh
  pkg/util/blockdevice/blockdevice_unsupported.go
Due: none

Updated CLOUD_CONFIG in helm chart. (#1747)
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

Add ability to disable Service controller (#1777)
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: openstack-cloud-controller-manager-e2e-test

Add extra labels to k8s resources
  charts/manila-csi-plugin/templates/_helpers.tpl
  charts/manila-csi-plugin/templates/controllerplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-role.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-service.yaml
  charts/manila-csi-plugin/templates/controllerplugin-serviceaccount.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-serviceaccount.yaml
  charts/manila-csi-plugin/values.yaml
Due: none

[cinder-csi-plugin] Configurable secret filename
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

Buffer os.Signal to avoid test error
  pkg/autohealing/cmd/root.go
Due: none

Add CI script and ansible role for occm functional test (#1632)
  .zuul.yaml
  pkg/autohealing/cmd/root.go
  pkg/util/blockdevice/blockdevice_unsupported.go
  tests/ci-occm-e2e.sh
  tests/e2e/cloudprovider/test-lb-service.sh
  tests/playbooks/roles/install-cpo-occm/README.md
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
  tests/playbooks/roles/install-docker-registry/defaults/main.yaml
  tests/playbooks/roles/install-docker-registry/tasks/main.yml
  tests/playbooks/roles/install-docker-registry/templates/ca-config.json.j2
  tests/playbooks/roles/install-docker-registry/templates/ca-csr.json.j2
  tests/playbooks/roles/install-docker/defaults/main.yml
  tests/playbooks/roles/install-docker/handlers/main.yml
  tests/playbooks/roles/install-docker/tasks/main.yml
  tests/playbooks/roles/install-golang/defaults/main.yml
  tests/playbooks/roles/install-golang/tasks/main.yml
  tests/playbooks/roles/install-k3s/README.md
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-occm-e2e.yaml
  tests/scripts/boskos.py
  tests/scripts/create-gce-vm.sh
Due: openstack-cloud-controller-manager-e2e-test

Address review comments
  charts/manila-csi-plugin/templates/_helpers.tpl
  charts/manila-csi-plugin/values.yaml
Due: none

[manila-csi-plugin] Add extra labels to k8s resources (#1788)
  charts/manila-csi-plugin/templates/_helpers.tpl
  charts/manila-csi-plugin/templates/controllerplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-role.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-service.yaml
  charts/manila-csi-plugin/templates/controllerplugin-serviceaccount.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-serviceaccount.yaml
  charts/manila-csi-plugin/values.yaml
Due: none

Provide capability to add extra labels for Cinder aligning it with Manila
  charts/cinder-csi-plugin/templates/_helpers.tpl
  charts/cinder-csi-plugin/values.yaml
Due: none

[all] Remove deprecated option `bs-version`
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  manifests/controller-manager/cloud-config
  pkg/openstack/openstack_test.go
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test

chart: manila-csi-plugin: added helper named templates for labels
  charts/manila-csi-plugin/templates/_helpers.tpl
  charts/manila-csi-plugin/templates/controllerplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-role.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-service.yaml
  charts/manila-csi-plugin/templates/controllerplugin-serviceaccount.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-serviceaccount.yaml
Due: none

Move extra labels from spec.selecto.matchLabels to metadata.labels
  charts/cinder-csi-plugin/templates/_helpers.tpl
Due: none

[Cinder-csi-plugin] Provide capability to add extra labels for Cinder (#1792)
  charts/cinder-csi-plugin/templates/_helpers.tpl
  charts/cinder-csi-plugin/values.yaml
Due: none

[cinder-csi-plugin] Remove redundant imagePullPolicy (#1784)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  pkg/autohealing/cmd/root.go
  pkg/util/blockdevice/blockdevice_unsupported.go
Due: none

Update index.yaml
  index.yaml
Due: none

[all] Remove deprecated option `bs-version` (#1782)
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  manifests/controller-manager/cloud-config
  pkg/openstack/openstack_test.go
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: openstack-cloud-controller-manager-e2e-test

[occm] Helm Chart Improvements (#1780)
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

[occm] The service monitor svc should select the pods of the occm DS (#1783)
  charts/openstack-cloud-controller-manager/templates/service-sm.yaml
Due: none

[cinder-csi-plugin] Configurable secret filename (#1789)
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

[cinder-csi-plugin] Deprecate CSI Inline ephemeral Volumes support (#1772)
  docs/cinder-csi-plugin/features.md
  pkg/csi/cinder/nodeserver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test

chart: manila-csi-plugin: added helper named templates for labels (#1794)
  charts/manila-csi-plugin/templates/_helpers.tpl
  charts/manila-csi-plugin/templates/controllerplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-role.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-service.yaml
  charts/manila-csi-plugin/templates/controllerplugin-serviceaccount.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-serviceaccount.yaml
Due: none

[cinder-csi-plugin] Bump chart to 2.1.1
  charts/cinder-csi-plugin/Chart.yaml
Due: none

support ReadWriteOncePod
  go.mod
  go.sum
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
Due: openstack-cloud-csi-cinder-e2e-test, openstack-cloud-csi-cinder-sanity-test
