Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-modsecurity, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-e2e-image-debian, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-modsecurity: any of: images/modsecurity/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-e2e-image-debian: any of: images/test-runner-debian/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*

fix 50% canary test
  test/e2e/annotations/canary.go
Due: none

fix past tense
  test/e2e/annotations/canary.go
Due: none

Missing annotations (#8288)
  docs/user-guide/nginx-configuration/annotations.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/nginx-configuration/annotations/index.html
Due: none

Names cannot contain _ (underscore)! So I changed it to -. (#8300)
  docs/examples/customization/custom-errors/custom-default-backend-error_pages.configMap.yaml
  docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml
Due: none

Deploy GitHub Pages
  examples/customization/custom-errors/custom-default-backend-error_pages.configMap.yaml
  examples/customization/custom-errors/custom-default-backend.helm.values.yaml
  sitemap.xml.gz
Due: none

Improve req handling dashboard
  deploy/grafana/dashboards/request-handling-performance.json
Due: none

Update monitoring.md
  docs/user-guide/monitoring.md
Due: none

remove info regarding preStop lifecycle hooks
  charts/ingress-nginx/README.md
Due: none

Update controller-service.yaml to fix ipFamilies
  charts/ingress-nginx/templates/controller-service.yaml
Due: none

Bumped up Chart.yaml to 4.0.19
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
Due: none

Nginx v1.19.10
  images/nginx/rootfs/build.sh
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image

Pinned GitHub workflows by SHA
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
Due: none

Pinned GitHub workflows by SHA (#8334)
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/helm.yaml
Due: none

Updated dependabot to include github actions
  .github/dependabot.yml
Due: none

Update monitoring.md (#8324)
  docs/user-guide/monitoring.md
Due: none

Deploy GitHub Pages
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  user-guide/monitoring/index.html
Due: none

Add the shareProcessNamespace as a configurable setting. (#8287)
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/values.yaml
Due: none

Nginx v1.19.10 (#8307)
  images/nginx/rootfs/build.sh
  images/opentelemetry/rootfs/build.sh
Due: post-ingress-nginx-build-nginx-image

after code review
  go.mod
  go.sum
  test/e2e/annotations/canary.go
Due: none

revert go.sum and go.mod
  go.mod
  go.sum
Due: none

run gofmt
  test/e2e/annotations/canary.go
Due: none

Fix 404 not found url
  docs/deploy/index.md
Due: none

Fix 50% split between canary and mainline tests (#8315)
  test/e2e/annotations/canary.go
Due: none

Bumping alpine base to 3.15
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

update tag and force a new build
  TAG
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image

bump tag and alpine image
  TAG
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image

control tag with short sha
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image

add the date per request
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image
