Repository kubernetes/ingress-nginx: changes, and which Prow jobs are due for each by the changed paths.
All: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-nginx-image-debian, post-ingress-nginx-build-modsecurity, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-e2e-image-debian, post-ingress-nginx-build-cfssl-image, post-ingress-nginx-build-echo-image, post-ingress-nginx-build-fastcgi-helloserver-image, post-ingress-nginx-build-httpbin-image, post-ingress-nginx-build-webhook-certgen-image, post-ingress-nginx-build-custom-error-pages-image

post-ingress-nginx-push-images:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20211014-7ca1952a94
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20211014-7ca1952a94
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-nginx-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20211014-7ca1952a94
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-modsecurity:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20211014-7ca1952a94
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20211014-7ca1952a94
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-e2e-image-debian:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20211014-7ca1952a94
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-cfssl-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20211014-7ca1952a94
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

post-ingress-nginx-build-echo-image:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-staging-test-infra/image-builder:v20211014-7ca1952a94
      command:
      - /run.sh
      args:
      - --project=k8s-staging-ingress-nginx
      - --scratch-bucket=gs://k8s-staging-ingress-nginx-gcb
  ...

fix the cloud build
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image

update cloud build image
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image

update cloud build
  images/nginx/cloudbuild.yaml
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

update cloud build (#8349)
  images/nginx/cloudbuild.yaml
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-build-nginx-image

For issue 8067 to enhance Nginx Ingress canary deployments documents with examples
  docs/examples/customization/annotations/canaryexamples.yaml
  docs/examples/customization/annotations/canaryreadme.md
  docs/examples/customization/annotations/counts.sh
  docs/user-guide/nginx-configuration/annotations.md
Due: none

bump Alpine image in Dockerfile
  images/opentelemetry/rootfs/Dockerfile
Due: none

bump Alpine image in Dockerfile (#8350)
  images/opentelemetry/rootfs/Dockerfile
Due: none

fix indent on env
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image

revert tag to - TAG=$_GIT_TAG
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image

fix indent on env (#8352)
  images/nginx/cloudbuild.yaml
Due: post-ingress-nginx-build-nginx-image

Add alpine 3.15 build
  Makefile
Due: none

update the nginx base image
  Makefile
Due: none

add the image to all the other places
  images/echo/Makefile
  images/nginx/README.md
  images/nginx/rc.yaml
  images/test-runner/Makefile
  test/e2e/framework/deployment.go
Due: post-ingress-nginx-build-nginx-image, post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

Update deploy.yaml
  deploy/static/provider/exoscale/deploy.yaml
Due: none

Updated semver in install docs URLs
  docs/deploy/index.md
Due: none

Updated semver in install docs URLs (#8368)
  docs/deploy/index.md
Due: none

Deploy GitHub Pages
  deploy/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Removed s390x, linux/arm platform as docker build was crashing (#8121)
  .github/workflows/ci.yaml
  docs/examples/customization/external-auth-headers/Makefile
  docs/examples/customization/external-auth-headers/auth-service.yaml
  docs/examples/customization/external-auth-headers/authsvc/Dockerfile
  docs/examples/customization/external-auth-headers/echo-service.yaml
  docs/examples/customization/external-auth-headers/echosvc/Dockerfile
  docs/examples/customization/external-auth-headers/echosvc/echosvc.go
  images/ext-auth-example-authsvc/Makefile
  images/ext-auth-example-authsvc/cloudbuild.yaml
  images/ext-auth-example-authsvc/rootfs/Dockerfile
  images/ext-auth-example-authsvc/rootfs/authsvc.go
  images/ext-auth-example-authsvc/rootfs/go.mod
  images/ext-auth-example-authsvc/rootfs/go.sum
Due: none

Deploy GitHub Pages
  examples/customization/external-auth-headers/Makefile
  examples/customization/external-auth-headers/auth-service.yaml
  examples/customization/external-auth-headers/authsvc/Dockerfile
  examples/customization/external-auth-headers/authsvc/authsvc.go
  examples/customization/external-auth-headers/echo-service.yaml
  examples/customization/external-auth-headers/echosvc/Dockerfile
  examples/customization/external-auth-headers/echosvc/echosvc.go
  sitemap.xml
  sitemap.xml.gz
Due: none

Rebase controller-service-internal on controller-service + add capability to disable ports
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/values.yaml
Due: none

Revert "bump Alpine image in Dockerfile (#8350)"
  images/opentelemetry/rootfs/Dockerfile
Due: none

bump luarocks to 3.8.0
  images/echo/Makefile
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

changed opentelemetry Dockerfile to alpine:3.14.4
  images/opentelemetry/rootfs/Dockerfile
Due: none

bump luarocks to 3.8.0 (#8379)
  images/echo/Makefile
  images/test-runner/Makefile
Due: post-ingress-nginx-build-e2e-image, post-ingress-nginx-build-echo-image

Update chart version + changelog
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/README.md
Due: none

downgrade to 3.14.4 and fix tag
  TAG
  images/nginx/rootfs/Dockerfile
Due: post-ingress-nginx-push-images, post-ingress-nginx-build-nginx-image

Added option to make internal and webhook service appProtocol templating optional
  charts/ingress-nginx/README.md
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/templates/controller-service-webhook.yaml
  charts/ingress-nginx/values.yaml
Due: none

Updated phrasing for config value
  charts/ingress-nginx/README.md
  charts/ingress-nginx/values.yaml
Due: none

Revert manual changes to chart readme
  charts/ingress-nginx/README.md
Due: none

Fixed readme for helm-docs diff
  charts/ingress-nginx/README.md
Due: none

Path conditions:
  post-ingress-nginx-push-images: any of: TAG
  post-ingress-nginx-build-nginx-image: any of: images/nginx/.*
  post-ingress-nginx-build-nginx-image-debian: any of: images/nginx-debian/.*
  post-ingress-nginx-build-modsecurity: any of: images/modsecurity/.*
  post-ingress-nginx-build-e2e-image: any of: images/test-runner/.*
  post-ingress-nginx-build-e2e-image-debian: any of: images/test-runner-debian/.*
  post-ingress-nginx-build-cfssl-image: any of: images/cfssl/.*
  post-ingress-nginx-build-echo-image: any of: images/echo/.*
  post-ingress-nginx-build-fastcgi-helloserver-image: any of: images/fastcgi-helloserver/.*
  post-ingress-nginx-build-httpbin-image: any of: images/httpbin/.*
  post-ingress-nginx-build-webhook-certgen-image: any of: images/kube-webhook-certgen/.*
  post-ingress-nginx-build-custom-error-pages-image: any of: images/custom-error-pages/.*
